.card {
  display: flex;
  background-color: #494949;
  color: white;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  margin: 0.5rem;
  border-radius: 1rem;
  padding-left: 3rem;
  padding: 0.75rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.application-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.message {
  background-color: grey;
  padding: 0.5rem;
  border-radius: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  justify-content: space-around;
}
